.holder {
  display: flex;
  width: 650px;
  flex-wrap: wrap;
  border: 3px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: black;
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
}


.item:nth-child(1) {
  display: flex;
  background-color: red;
  grid-row: 1;
  flex-basis: 50%;
  order: -2;
  flex-grow: 2;

}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}



.item:nth-child(2) {
  background-color: rgb(71, 71, 248);
}


.item:nth-child(3) {
  background-color: purple;
  grid-row: 2;
  grid-column: 1;
}


.item:nth-child(4) {
  background-color: green;
}


.item:nth-child(5) {
  background-color: orange;
  flex-basis: 50%;
  order: -1;
}